.DreamCat-List-01 {
    padding: 0px 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}
.DreamCat-List-02 {
    border-radius: 0px
}
.DreamCat-List-headimg {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    background-size: cover!important;
    background-position: center center!important;
}
.cda {
    margin-bottom: 0px;
}