.Dreamcat-search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 260px;
    height: 40px;
    background-color: #eef2f5;
    border-radius: 8px;
    transition-duration: .18s;
    transition-property: background-color, box-shadow;
}

.Dreamcat-search-input {
    flex: 1;
    height: 46px;
    background-color: transparent;
    border: none;
    outline: none;
}

.Dreamcat-appimgbar {
    background-size: cover;
}


.Dreamcat-copyright {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px;
}


.DreamCat-ListM-01 {
    padding: 0px 0 !important;
    list-style: none;
    background-color: transparent;
    margin: 0 0 50%;
}

.DreamCat-ListM-02 {
    border-radius: 0px;
}

.DreamCat-ListM-03 {
    width: 100%;
    height: 185px;
    position: relative !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.DreamCat-ListM-04 {
    display: flex;
    justify-content: center;
}

.DreamCat-ListM-05 {
    width: 75px;
    height: 75px;
    margin-top: 40px;
    border-radius: 50%;
    background-size: cover !important;
    background-position: center center !important;
    margin: 0;
    left: 0;
}

.DreamCat-ListM-06 {
    font-weight: 400;
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 15px;
}


.DreamCat-Logo-centered {
    display: flex;
    justify-content: center;
}

.DreamCat-Logo-centered > img {
    margin: -50px 0 0;
    left: 0;
}

.DreamCat-card-1 {
    border-width: 0;
    box-shadow: 0 12px 15px rgb(140 152 164 / 10%);
    background-color: #fff;
    background-clip: border-box;
    border-radius: .75rem;
}

.DreamCat-card-post-wzimg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Dreamcat-detail-info {
    overflow: hidden;
    padding: 10px 20px;
    margin: 0;
    border-top: 1px dashed #e0e0e0;
    color: #626262;
    font-size: 14px;
    line-height: 19px;
    background-color: #f6f6f6;
}

.Dreamcat-post-copyright.mdui-card {
    background-color: #f5f5f5;
    border-radius: 0 !important;
    margin-bottom: 0;
}

.Dreamcat-post-copyright.mdui-card > svg {
    height: 120px;
    opacity: .05;
    pointer-events: none;
    position: absolute;
    right: -37px;
    top: -32px;
    width: 120px;
}

.Dreamcat-post-copyright > div {
    border-left: 5px solid #f5f5f5;
    padding: 16px;
}

.Dreamcat-post-btn {
    padding: 0 0 20px;
    text-align: center;
    width: 100%;
}

.Dreamcat-post-btn > button {
    height: 60px;
    width: 60px;
}

.Dreamcat-post-btn-center {
    background-color: #fff !important;
    height: 200px;
    min-width: 200px;
    overflow: hidden;
    padding: 7px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.DreamCat-card-ts-1 {
    transition: all 0.6s .3s ease-in-out;
}

.DreamCat-card-ts-1:hover {
    box-shadow: 0 12px 15px rgb(140 152 164 / 10%);
    transform: translate(0, -5px);
}

.DreamCat-card-post-wzimg-ts {
    object-fit: cover;
    transition: all 0.6s .3s ease-in-out;
}

.DreamCat-card-post-wzimg-ts:hover {
    transform: scale(1.5);
    transition: all 0.6s .3s ease-in-out;
}

.DreamCat-margin-card-top {
    margin-top: 30px;
}

.DreamCat-page-div {
    max-width: 250px;
    position: relative;
    margin: 30px auto 80px;
}

.DreamCat-page-div .DreamCat-number {
    left: 37%;
    position: absolute;
}

.DreamCat-page-div .DreamCat-next {
    right: 0;
    position: absolute;
}

.DreamCat-icon-ts {
    transition: all 0.6s .3s ease-in-out;
}

.DreamCat-icon-ts:hover {
    transform: scale(1.2);
}

.DreamCat-PageContent-A {
    overflow: hidden;
    padding: 15px;
    margin: 10px 0;
    letter-spacing: 1px;
    line-height: 1.8em;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
}

.DreamCat-PageContent-A h1:hover:before {
    color: #2bbc8a;
    content: "#";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h1 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.DreamCat-PageContent-A h2:hover:before {
    color: #2bbc8a;
    content: "##";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h2 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.DreamCat-PageContent-A h3:hover:before {
    color: #2bbc8a;
    content: "###";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h3 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.DreamCat-PageContent-A h4:hover:before {
    color: #2bbc8a;
    content: "####";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h4 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.DreamCat-PageContent-A h5:hover:before {
    color: #2bbc8a;
    content: "#####";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h5 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.DreamCat-PageContent-A h6:hover:before {
    color: #2bbc8a;
    content: "######";
    font-weight: bold;
    margin-right: 5px;
}

.DreamCat-PageContent-A h6 {
    margin-bottom: 1rem;
    color: #383838;
    letter-spacing: 0.01em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.doc-footer-nav-left {
    text-align: left;
}

.doc-footer-nav-right {
    text-align: right;
}

.doc-footer-nav {
    height: 96px;
}

.doc-footer-nav-left .doc-footer-nav-chapter {
    margin-left: 34px;
}

.doc-footer-nav-text .doc-footer-nav-direction {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 1px;
    opacity: 0.55;
}

.doc-footer-nav-text {
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 24px;
    padding-top: 24px;
    width: 100%;
}

.doc-footer-nav-left,
.doc-footer-nav-right {
    height: 96px;
}

.doc-footer-nav-left .mdui-icon {
    float: left;
    margin-right: 10px;
}

.doc-footer-nav-right .mdui-icon {
    float: right;
    margin-left: 10px;
}

.doc-footer-nav-text .mdui-icon {
    padding-top: 23px;
    width: 24px;
}

.mdui-chip-title a {
    text-decoration: none;
    color: black;
}

pre {
    background: rgb(198, 198, 203) !important;
    background: linear-gradient(13deg, rgba(198, 198, 203, 1) 7%, rgba(233, 233, 246, 1) 100%) !important;
    /*background-color: #fafafa !important;*/
    border-radius: 12px !important;
    padding: 12px 16px !important;
    border: none !important;
    /*box-shadow: inset -4px 20px 20px 20px rgb(140 152 164 / 10%) !important;*/
}

.page-content table {
    display: table;
    border-spacing: 0;
    border: 7px solid #eeeeee;
    border-radius: 9px;
}

.page-content table th {
    background-color: #eeeeee;
    white-space: nowrap;
}

.page-content table td {
    background-color: #fafafa;
}

.page-content table td, table th {
    padding: 16px 20px;
    border-radius: 0;
}

/*右下返回顶部按钮*/
.scrollTop {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    /* 圆角 */
}