.Dreamcat-copyright {
	box-sizing: border-box;
	padding: 20px 16px;
	width: 100%;
}


.DreamCat-ListM-01 {
	background-color: transparent;
	list-style: none;
	margin: 0 0 50%;
	padding: 0px 0 !important;
}

.DreamCat-ListM-02 {
	border-radius: 0px;
}

.DreamCat-ListM-03 {
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 185px;
	position: relative !important;
	width: 100%;
}

.DreamCat-ListM-04 {
	display: flex;
	justify-content: center;
}

.DreamCat-ListM-05 {
	background-position: center center !important;
	background-size: cover !important;
	border-radius: 50%;
	height: 75px;
	left: 0;
	margin: 0;
	margin-top: 40px;
	width: 75px;
}

.DreamCat-ListM-06 {
	display: block;
	font-size: 20px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
}


.DreamCat-Logo-centered {
	display: flex;
	justify-content: center;
}

.DreamCat-Logo-centered > img {
	left: 0;
	margin: -50px 0 0;
}

.DreamCat-card-1 {
	background-clip: border-box;
	background-color: #fff;
	border-radius: .75rem;
	border-width: 0;
	box-shadow: 0 12px 15px rgb(140 152 164 / 10%);
}

.DreamCat-card-post-wzimg {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	overflow: hidden;
	width: 100%;
}

.Dreamcat-detail-info {
	background-color: #f6f6f6;
	border-top: 1px dashed #e0e0e0;
	color: #626262;
	font-size: 14px;
	line-height: 19px;
	margin: 0;
	overflow: hidden;
	padding: 10px 20px;
}

.Dreamcat-post-copyright.mdui-card {
	background-color: #f5f5f5;
	border-radius: 0 !important;
	margin-bottom: 0;
}

.Dreamcat-post-copyright.mdui-card > svg {
	height: 120px;
	opacity: .05;
	pointer-events: none;
	position: absolute;
	right: -37px;
	top: -32px;
	width: 120px;
}

.Dreamcat-post-copyright > div {
	border-left: 5px solid #f5f5f5;
	padding: 16px;
}

.Dreamcat-post-btn {
	padding: 0 0 20px;
	text-align: center;
	width: 100%;
}

.Dreamcat-post-btn > button {
	height: 60px;
	width: 60px;
}

.Dreamcat-post-btn-center {
	background-color: #fff !important;
	height: 200px;
	min-width: 200px;
	overflow: hidden;
	padding: 7px;
	width: fit-content;
	max-width: 100%;
}

.DreamCat-card-ts-1 {
	transition: all 0.6s .3s ease-in-out;
}

.DreamCat-card-ts-1:hover {
	box-shadow: 0 12px 15px rgb(140 152 164 / 10%);
	transform: translate(0, -5px);
}

.DreamCat-card-post-wzimg-ts {
	object-fit: cover;
	transition: all 0.6s .3s ease-in-out;
}

.DreamCat-card-post-wzimg-ts:hover {
	transform: scale(1.5);
	transition: all 0.6s .3s ease-in-out;
}

.DreamCat-margin-card-top {
	margin-top: 30px;
}

.DreamCat-page-div {
	margin: 30px auto 80px;
	max-width: 250px;
	position: relative;
}

.DreamCat-page-div .DreamCat-number {
	left: 37%;
	position: absolute;
}

.DreamCat-page-div .DreamCat-next {
	position: absolute;
	right: 0;
}

.DreamCat-icon-ts {
	transition: all 0.6s .3s ease-in-out;
}

.DreamCat-icon-ts:hover {
	transform: scale(1.2);
}

.dreamcat-content {
	letter-spacing: 1px;
	line-height: 1.8em;
	margin: 10px 0;
	overflow: hidden;
	overflow-wrap: break-word;
	padding: 15px;
	word-break: normal;
	word-wrap: break-word;
}

.dreamcat-content h1:hover:before {
	color: #2bbc8a;
	content: "#";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h1 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.dreamcat-content h2:hover:before {
	color: #2bbc8a;
	content: "##";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h2 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.dreamcat-content h3:hover:before {
	color: #2bbc8a;
	content: "###";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h3 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.dreamcat-content h4:hover:before {
	color: #2bbc8a;
	content: "####";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h4 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.dreamcat-content h5:hover:before {
	color: #2bbc8a;
	content: "#####";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h5 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.dreamcat-content h6:hover:before {
	color: #2bbc8a;
	content: "######";
	font-weight: bold;
	margin-right: 5px;
}

.dreamcat-content h6 {
	color: #383838;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 0.01em;
	margin-bottom: 1rem;
	-moz-osx-font-smoothing: grayscale;
	transition: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.doc-footer-nav-left {
	text-align: left;
}

.doc-footer-nav-right {
	text-align: right;
}

.doc-footer-nav {
	height: 96px;
}

.doc-footer-nav-left .doc-footer-nav-chapter {
	margin-left: 34px;
}

.doc-footer-nav-text .doc-footer-nav-direction {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 1px;
	opacity: 0.55;
}

.doc-footer-nav-text {
	box-sizing: border-box;
	display: inline-block;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	height: 100%;
	line-height: 24px;
	padding-top: 24px;
	width: 100%;
}

.doc-footer-nav-left,
.doc-footer-nav-right {
	height: 96px;
}

.doc-footer-nav-left .mdui-icon {
	float: left;
	margin-right: 10px;
}

.doc-footer-nav-right .mdui-icon {
	float: right;
	margin-left: 10px;
}

.doc-footer-nav-text .mdui-icon {
	padding-top: 23px;
	width: 24px;
}

.mdui-chip-title a {
	color: black;
	text-decoration: none;
}

pre {
	/*background: rgb(198, 198, 203) !important;*/
	/*background: linear-gradient(13deg, rgba(198, 198, 203, 1) 7%, rgba(233, 233, 246, 1) 100%) !important;*/
	/*!*background-color: #fafafa !important;*!*/
	/*border-radius: 12px !important;*/
	/*padding: 12px 16px !important;*/
	/*border: none !important;*/
	/*!*box-shadow: inset -4px 20px 20px 20px rgb(140 152 164 / 10%) !important;*!*/
	background: #282a36;
	border-radius: 9px !important;
	box-shadow: 5px 8px 8px 1px rgb(40 42 54 / 71%) !important;
	color: white;
	margin: .5em 0 !important;
	overflow: auto !important;
	padding: 1em !important;
}

.page-content table {
	border: 7px solid #eeeeee;
	border-radius: 9px;
	border-spacing: 0;
	display: table;
}

.page-content table th {
	background-color: #eeeeee;
	white-space: nowrap;
}

.page-content table td {
	background-color: #fafafa;
}

.page-content table td, table th {
	border-radius: 0;
	padding: 16px 20px;
}

/*右下返回顶部按钮*/
.scrollTop {
	border: none;
	/* 默认隐藏 */
	border-radius: 10px;
	bottom: 20px;
	cursor: pointer;
	display: none;
	outline: none;
	padding: 10px;
	position: fixed;
	right: 10px;
	z-index: 99;
	/* 圆角 */
}

a {
	color: black;
	text-decoration: none;
}

.comment-list {
	list-style-type: none;
}

.fillet-A1 {
	border-radius: .5rem
}

.shadow-A1 {
	box-shadow: .5rem .875rem 2.375rem rgba(39, 44, 49, .06), .0625rem .1875rem .5rem rgba(39, 44, 49, .03)
}

.button-ts {
	position: relative
}

.button-ts:active {
	box-shadow: .5rem .875rem 2.375rem rgba(255, 255, 255, .12),
	.0625rem .1875rem .5rem transparent;
	transform: translateY(2px);
	-webkit-transition: box-shadow 2.5s;
}

.border-comm {
	border-radius: 12px;
}

.border-comm-1 {
	border-radius: 9px;
}

.border-comm-2 {
	border-radius: 19px;
}

.border-comm-3 {
	border-radius: 19px;
}


#cancel-comment-reply-link {
	display: inline !important;
}

.dreamcat-icon-white {
	color: #f1f3f4 !important;
}

.dreamcat-title, .dreamcat-subtitle {
	color: #ffffffe3 !important;
}

.dreamcat-drawer {
	box-shadow: 0 12px 15px rgb(140 152 164 / 48%);
	padding-top: 8px;
}

.dreamcat-toolbar {
	transform: translateY(-50%);
}

.dreamcat-search {
	align-items: center;
	background-color: #eef2f5;
	border-radius: 8px;
	display: flex;
	height: 46px;
	max-width: 260px;
	transition-duration: .18s;
	transition-property: background-color, box-shadow;
	width: 100%;
}

.dreamcat-search-modal {
	background-color: transparent;
	border: none;
	flex: 1;
	height: 52px;
	outline: none;
}

.dreamcat-content-header {
	background-color: #3f51b5;
	color: #fff;
	max-height: 10rem;
	min-height: 3rem;
	padding: 10px 16px 48px 256px;
	position: absolute;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dreamcat-comment-text {
	margin: 15px;
	text-align: center;
}

.dreamcat-content-wrapper {
	margin-bottom: 3rem;
	margin-top: -4.5rem; /* 8rem(.dreamcat-img-header-wrapper) - 4.5rem */
}

.dreamcat-share-panel { /* TODO */
	border-radius: 0.75rem;
	box-shadow: rgb(245 245 245 / 65%) 6px 15px 20px 18px;
	left: 481px;
	position: absolute;
	top: 9843px;
	transform-origin: 50% 0;
}

.dreamcat-comment-title {
	background-color: #ececec;
	margin-bottom: 1.2rem;
}

.dreamcat-comment-box-send {
	margin-bottom: 2.5rem;
}

.dreamcat-comment-box-view {
	margin-bottom: 1.2rem;
}

.dreamcat-comment-btn {
	background-color: rgb(236 236 236);
	margin-right: -12px !important;
}

.dreamcat-disabled {
	cursor: not-allowed;
}

.DreamCat-List-01 {
	background-color: transparent;
	list-style: none;
	margin: 0;
	padding: 0px 0 !important;
}

.DreamCat-List-02 {
	border-radius: 0px
}

.DreamCat-List-headimg {
	background-position: center center !important;
	background-size: cover !important;
	border-radius: 50%;
	height: 75px;
	margin-left: 30%;
	/* border: 1.5px solid #3e7ced; */
	margin-top: 35px;
	width: 75px;
}

.DreamCat-menu-bg {
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 185px;
	position: relative !important;
	width: 100%;
}

.DreamCat-menu-author {
	display: block;
	font-size: 20px;
	line-height: 15px;
	/* opacity: .54; */

}

.DreamCat-main-pic {
	height: 215px;
	object-fit: cover;
}

.DreamCat-top-card {
	height: 215px;
}

.DreamCat-top-card-a {
	border-radius: 18px;
	box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
}

.moe-post-wzimg {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	overflow: hidden;
	width: 100%;
}

.jbs1 {
	background-image: linear-gradient(160deg, #00ffd5 20%, #008cff 80%);
}

.comment-list {
	list-style-type: none;
}

.fillet-A1 {
	border-radius: .5rem
}

.shadow-A1 {
	box-shadow: .5rem .875rem 2.375rem rgba(39, 44, 49, .06), .0625rem .1875rem .5rem rgba(39, 44, 49, .03)
}

.button-ts {
	position: relative
}

.button-ts:active {
	box-shadow: .5rem .875rem 2.375rem rgba(255, 255, 255, .12), .0625rem .1875rem .5rem transparent;
	transform: translateY(2px);
	-webkit-transition: box-shadow 2.5s;
}

.DreamCat-inCo {
	background-color: #3f51b5;
	padding-bottom: 60px;
	padding-top: 20px;
}

.DreamCat-footer {
	background: rgba(255, 255, 255, .6);
	box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, .1);
	padding: 10px 0;
}

.DreamCat-infooter {
	color: #999;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}

.moe-margin-card-top {
	margin-top: 30px;
}

.moe-page-div {
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	max-width: 250px;
	position: relative;
}

.moe-page-div .moe-number {
	left: 37%;
	position: absolute;
}

.moe-page-div .moe-next {
	position: absolute;
	right: 0;
}

.detail-info {
	background-color: #f6f6f6;
	border-top: 1px dashed #e0e0e0;
	color: #626262;
	font-size: 14px;
	line-height: 19px;
	margin: 0;
	overflow: hidden;
	padding: 10px 20px;
}

.di-color div {
	float: left;
	height: 2px;
	width: 20%;
}

.di-color .di-color-a {
	background-color: #f92672;
}

.di-color .di-color-b {
	background-color: #fd971f;
}

.di-color .di-color-c {
	background-color: #8ACF00;
}

.di-color .di-color-d {
	background-color: #0092FF;
}

.di-color .di-color-e {
	background-color: #ae74ac;
}

.moe-nav {
	background: rgba(0, 0, 0, .3);
	color: #fff !important;
	height: 96px;
	margin-top: 18px;
}

.moe-c-d {
	display: none;
}

.moe-nav a {
	color: #fff !important;
}

.moe-nav-left {
	text-align: left;
}

.moe-nav-text {
	box-sizing: border-box;
	display: inline-block;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	height: 100%;
	line-height: 24px;
	padding-top: 24px;
	width: 100%;
}

.moe-nav a {
	color: #fff !important;
}

.moe-nav-right {
	text-align: right;
}

.comment-section {
	top: 20%;
	transform: translateY(-10%);
	width: 145px;
}

.lis {
	margin-top: 40px;
}

.spot {
	background-color: #666666;
	border: 4px solid #ffffff;
	border-radius: 18px;
	height: 20px;
	left: -60px;
	position: absolute;
	transform: translateX(-50%);
	width: 20px;
}

.g-lin {
	background-color: #666666;
	height: 4px;
	margin-left: -400px;
	position: relative;
	top: 12px;
	width: 500px;
	z-index: -1;
}

.dc_icon {
	fill: currentColor;
	height: 2em;
	overflow: hidden;
	vertical-align: 11em;
	width: 3em;
}

@media screen and (max-width: 760px) {
	.content-header {
		margin: 0;
		min-height: auto;
		padding: 72px 16px 20px;
	}
}

@media screen and (max-width: 760px) {
	.DreamCat-content-header {
		min-height: auto;
	}
}

#main {
	overflow: hidden;
	/* margin: 25px auto; */
}

#line {
	background-color: #666666;
	height: 100%;
	left: -60px;
	position: absolute;
	transform: translateX(-50%);
	width: 4px;
}

#coos {
	box-sizing: border-box;
	font-size: 16px;
	/*font-family: "å¾®è½¯é›…é»‘"; /*你说可以不用*/
	margin: 0;
	padding: 0;
	transition: all .3s ease-out;
}

.Logo_centered {
	display: flex;
	justify-content: center;
}

.Logo_centered > img {
	left: 0;
	margin: 0;
	margin-top: -50px;
}